{% extends "templates/wellnest_web.html" %}

<title>
    {% block title %}CareYogi - About Us{% endblock %}
</title>    
<body>
{% block page_content %}
<section class="page-header" style="background-image: url(assets/wellnest/images/background/page-header-about-1.jpg);">
  <div class="container">
      <h2>About Us</h2>
      <ul class="list-unstyled thm-breadcrumb">
          <li><a href="index">Home</a></li>
          <li><span>About Us</span></li>
      </ul><!-- /.list-unstyled -->
  </div><!-- /.container -->
</section><!-- /.page-header -->

<section class="about-one">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
      <div class="about-one__image">
          <img src="assets/wellnest/images/resources/about-1-2.jpg" alt="">
          <div class="about-one__image-content">
              <h3>10</h3>
              <p>Years of Experience</p>
          </div><!-- /.about-one__image-content -->
      </div><!-- /.about-one__image -->
    </div><!-- /.col-lg-6 -->
    <div class="col-xl-6 d-flex">
      <div class="my-auto">
          <div class="about-one__content">
              <div class="block-title text-left">
                  <p class="has-line">01. About Us</p>
                  <h3>Welcome to CareYogi</h3>
              </div><!-- /.block-title -->
              <div class="nav navtabs about-one__tab-title">
                <p>
                  At CareYogi, we're here to alleviate the stress of caring
                  for elders, so you can focus on living your life. Our
                  transitional care excellence, supported by advanced
                  technology, is designed for empowering caregivers and
                  supporting families.
                </p>
                <a href="#approach" class="nav-link active" data-toggle="tab">Challenges</a>
                <!-- /.nav-link -->
                <a href="#mission" class="nav-link" data-toggle="tab">Gaps We Address</a><!-- /.nav-link -->
                <a href="#target" class="nav-link" data-toggle="tab">Our Promise</a><!-- /.nav-link -->
              </div><!-- /.nav navtabs about-one__tab-title -->
              <div class="tab-content">
                  <div class="tab-pane fade show active animated fadeInUp" id="approach">
                      <p>
                        Taking care of aging parents can be a complex task.
                        Distance makes it hard to respond to emergencies
                        quickly, and juggling work, personal life, and their
                        needs can feel like a constant struggle. Even when
                        seeking professional help, finding high-quality
                        caregivers who can provide effective and reliable
                        support can be another hurdle.
                      </p>
                  </div><!-- /.tab-pane fade show active animated fadeInUp -->

                  <div class="tab-pane fade  animated fadeInUp" id="mission">
                    <p>
                      Our service offers well-trained caregivers, uses
                      technology to track their work, and provides a single
                      platform for managing everything, making caregiving
                      reliable, efficient, and easier for you.
                    </p>
                  </div><!-- /.tab-pane fade  animated fadeInUp -->
                  <div class="tab-pane fade animated fadeInUp" id="target">
                    <p>
                      Our personalized wellness plans are designed to support
                      your loved one’s journey to independence following
                      surgery or an accident. Your family can continue life as
                      usual, knowing that your loved ones are in capable
                      hands.
                      <br />
                      <br />
                      Contact CareYogi for family first care of your loved
                      ones by passionate medical professionals.
                    </p>
                          <img src="assets/wellnest/images/resources/about-1-1-sign.png" alt="">
                  </div><!-- /.tab-pane fade animated fadeInUp -->
              </div><!-- /.tab-content -->
          </div><!-- /.about-one__content -->
        </div><!-- /.my-auto -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.about-one -->
<section class="team-service">
  <div class="container">
      <div class="block-title text-center">
        <p>2. Our Team</p>
        <h3>Passionate People Leading CareYogi<br> Team</h3>
      </div><!-- /.block-title -->
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="team-service__single">
                  <div class="team-service__image">
                      <img src="assets/wellnest/images/team/satyendra.jpg" alt="">
                  </div><!-- /.team-service__image -->
                  <div class="team-service__content">
                      <h3>Satyendra Sinha</h3>
                      <p>CEO</p>
                      <p>
                        Seasoned Product Development and Software Engineering Leader with over 3 decades of R&D experience in some of the biggest global names in the Software Industry.<br>
                        Veteran organization leader with great history of organization design and building; attracting, retaining, and developing great talent.<br>
                        Servant Leader with the traits of an Orchestra Conductor who can create great musical experience with the help of a large team with diverse skills.<br>
                        Technology leader with strategic mindset and a successful track record of intrapreneurship at companies like GEP, Microsoft, Amazon, Oracle and CMC
                      </p>  
                  </div><!-- /.team-service__content -->
              </div><!-- /.team-service__single -->
          </div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
          <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="team-service__single">
                  <div class="team-service__image">
                      <img src="assets/wellnest/images/team/rohit.jpg" alt="">
                  </div><!-- /.team-service__image -->
                  <div class="team-service__content">
                    <h3>Rohit Madhusudan</h3>
                    <p>COO</p>
                    <p>
                        A Gerapreneur having 24 years of experience.<br> A Marketer, adept at solving business challenges and problems creatively<br>
                        Weaves business and brand stories from analyzed data, functional insights, consumer behavior etc.<br>
                        Rohit has immense interest in social causes and has worked on various programs for UNICEF,WHO,WB and Plan International.<br>
                        Spent 20 years working with MNCs viz.BBDO, J. Walter Thompson, Grey Worldwide, L&K Saatchi & Saatchi.<br>
                        Handled healthcare brands viz. Ranbaxy, Dabur, Pepsico's Health portfolio, GSK, National TB Control Program,  BLK hospitals etc
                    </p>
                  </div><!-- /.team-service__content -->
              </div><!-- /.team-service__single -->
          </div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
          <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="team-service__single">
                  <div class="team-service__image">
                      <img src="assets/wellnest/images/team/randhir.jpg" alt="">
                  </div><!-- /.team-service__image -->
                  <div class="team-service__content">
                      <h3>Randhir Kumar</h3>
                      <p>CTO</p>
                      <p>
                        Proven track record in software engineering, architecture, and leadership at some of the 
                        top technology companies.
                        Passionate about creating efficient, scalable software solutions that delight customers.
                      </p>
                  </div><!-- /.team-service__content -->
              </div><!-- /.team-service__single -->
          </div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
          <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="team-service__single">
                  <div class="team-service__image">
                      <img src="assets/wellnest/images/team/parag-agarwal.jpg" alt="">
                  </div><!-- /.team-service__image -->
                  <div class="team-service__content">
                      <h3>Parag Agarwal</h3>
                      <p>VP, Products</p>
                      <p>
                        A Techie with 18 yrs experience at Microsoft in different engineering and product roles.
                        Skilled at turning ideas into reality and making them work on a large scale. 
                        Strategic thinker adept at execution. Passionate about healthcare currently developing our core product.
                      </p>
                  </div><!-- /.team-service__content -->
              </div><!-- /.team-service__single -->
          </div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
      </div><!-- /.row -->
  </div><!-- /.container -->
  <div class="container">
    <div class="block-title text-center">
      <p>3. Our Advisors</p>
      <h3>Seasoned Medical Professionals<br>Guiding Us</h3>
    </div><!-- /.block-title -->
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="team-service__single">
                <div class="team-service__image">
                    <img src="assets/wellnest/images/team/dr-sanjay-sharma.jpg" alt="">
                </div><!-- /.team-service__image -->
                <div class="team-service__content">
                    <h3>Dr. Sanjay Sharma</h3>
                    <p>MEDICAL EMERGENCY ADVISOR</p>
                    <p>Air Commodore (Retd.)</p>
                    <p>
                      1st Consultant Administration of the Armed Forces Medical Services
                      Founding Director & CEO of ATHI Board Member-at-large of WPATH
                    </p>  
                </div><!-- /.team-service__content -->
            </div><!-- /.team-service__single -->
        </div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="team-service__single">
                <div class="team-service__image">
                    <img src="assets/wellnest/images/team/dr-cn-bhargavi.jpg" alt="">
                </div><!-- /.team-service__image -->
                <div class="team-service__content">
                  <h3>Dr. Prof. C N Bhargavi</h3>
                  <p>PARA MEDICAL ADVISOR</p>
                  <p>Professor, College of Nursing Dr. RML, Inspector of INC & Delhi Nursing Council</p>
                  <p>
                    BSc(N), MSc(N), PHD (N) with 29 years of experience in teaching in Dr. RML Hospital. 
                    DADG (N) / OSD (N) & Off. Nursing Adviser in MoHFW
                  </p>
                </div><!-- /.team-service__content -->
            </div><!-- /.team-service__single -->
        </div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="team-service__single">
                <div class="team-service__image">
                    <img src="assets/wellnest/images/team/shashi-kanth-srinivas.jpg" alt="">
                </div><!-- /.team-service__image -->
                <div class="team-service__content">
                    <h3>Shashi Kanth Srinivas Sripathi</h3>
                    <p>SKILL ADVISOR</p>
                    <p>
                      Former CEO of Hero Mindmine & Centum Learning, COO of John Kells Holdings, 
                      Business head of NIS Sparta and Subhiskha
                    </p>
                </div><!-- /.team-service__content -->
            </div><!-- /.team-service__single -->
        </div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="team-service__single">
                <div class="team-service__image">
                    <img src="assets/wellnest/images/team/dr-vandana-m.jpg" alt="">
                </div><!-- /.team-service__image -->
                <div class="team-service__content">
                    <h3>Dr. Vandana M</h3>
                    <p>PEOPLE ADVISOR, Training & Development</p>
                    <p>
                      IIT,D - IIM,A, has 19 years of expertise in growing people and organizations. 
                      PhD in Applied Psychology, imbibes empathy and emotional intelligence in care giving                      
                      Exceptional experiences in setting up and building enthusiastic start ups, Ramp up, 
                      focused expansion for national retail operations, and sustaining large multi location multinational 
                      set ups for India & SE Asia.
                    </p>
                </div><!-- /.team-service__content -->
            </div><!-- /.team-service__single -->
        </div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
    </div><!-- /.row -->
</div><!-- /.container -->
</section><!-- /.team-service -->

{% endblock %}
</body>
