{% extends "templates/wellnest_web.html" %}

<title>
    {% block title %}WellNesT - About Us{% endblock %}
</title>    
<body>
{% block page_content %}
<section class="about-one">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="about-one__image">
          <!-- <img src="assets/wellnest/images/resources/about-1-2-new.jpg" alt="" /> -->
          <!-- /.about-one__image-content -->
        </div>
        <!-- /.about-one__image -->
      </div>
      <!-- /.col-lg-6 -->
      <div class="col-xl-12 d-flex">
        <div class="my-auto">
          <div class="about-one__content">
            <div class="block-title text-left">
              <!--<p class="has-line">About Us</p>-->
              <h3>Welcome to WellNesT</h3>
              <br />
            </div>
            <!-- /.block-title -->
            <div class="nav navtabs about-one__tab-title">
              <p>
                At WellNesT, we're here to alleviate the stress of caring
                for elders, so you can focus on living your life. Our
                transitional care excellence, supported by advanced
                technology, is designed for empowering caregivers and
                supporting families.
              </p>
              <a href="#approach" class="nav-link active" data-toggle="tab">Understanding Your Challenges</a>
              <!-- /.nav-link -->
              <a href="#mission" class="nav-link" data-toggle="tab">Gaps We Addres</a><!-- /.nav-link -->
              <a href="#target" class="nav-link" data-toggle="tab">Our Promise</a><!-- /.nav-link -->
            </div>
            <!-- /.nav navtabs about-one__tab-title -->
            <div class="tab-content">
              <div class="tab-pane fade show active animated fadeInUp" id="approach">
                <p>
                  Taking care of aging parents can be a complex task.
                  Distance makes it hard to respond to emergencies
                  quickly, and juggling work, personal life, and their
                  needs can feel like a constant struggle. Even when
                  seeking professional help, finding high-quality
                  caregivers who can provide effective and reliable
                  support can be another hurdle.
                </p>
              </div>
              <!-- /.tab-pane fade show active animated fadeInUp -->

              <div class="tab-pane fade animated fadeInUp" id="mission">
                <p>
                  Our service offers well-trained caregivers, uses
                  technology to track their work, and provides a single
                  platform for managing everything, making caregiving
                  reliable, efficient, and easier for you.
                </p>
              </div>
              <!-- /.tab-pane fade  animated fadeInUp -->
              <div class="tab-pane fade animated fadeInUp" id="target">
                <p>
                  Our personalized wellness plans are designed to support
                  your loved one’s journey to independence following
                  surgery or an accident. Your family can continue life as
                  usual, knowing that your loved ones are in capable
                  hands.
                  <br />
                  <br />
                  Contact WellNesT for family first care of your loved
                  ones by passionate medical professionals.
                </p>
              </div>
              <!-- /.tab-pane fade animated fadeInUp -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.about-one__content -->
        </div>
        <!-- /.my-auto -->
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.about-one -->

{% endblock %}
</body>
