{% extends "templates/wellnest_web.html" %}

<title>{% block title %}CareYogi - Basic Nursing Care{% endblock %}</title>
<body>
  {% block page_content %}
  <section
    class="page-header"
    style="
      background-image: url(assets/wellnest/images/background/page-header-adl.jpg);
    "
  >
    <div class="container">
      <h2>Basic Nursing Care</h2>
      <ul class="list-unstyled thm-breadcrumb">
        <li><a href="index">Home</a></li>
        <li><span>Service Details</span></li>
      </ul>
      <!-- /.list-unstyled -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.page-header -->
  <section class="service-details" style="padding-top: 35px !important">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="service-details__sidebar">
            <div class="sidebar__single sidebar__category">
              <h3 class="sidebar__title">Category</h3>
              <!-- /.sidebar__title -->
              <ul class="sidebar__cat-list">
                <li>
                  <a href="attendant-care">Attendant Care</a>
                </li>
                <li class="active">
                  <a href="basic-nursing-care">Basic Nursing Care</a>
                </li>
                <li>
                  <a href="physiotherapy-at-home">Physiotherapy at Home</a>
                </li>
                <li>
                  <a href="audio-and-speech-therapy">Audio & Speech Therapy</a>
                </li>
                <li>
                  <a href="critical-care-at-home">Critical Care at Home</a>
                </li>
                <li>
                  <a href="palliative-care">Palliative Care</a>
                </li>
                <li>
                  <a href="hospice-care">Hospice Care</a>
                </li>
                <li>
                  <a href="dementia-care">Dementia Care</a>
                </li>
                <li>
                  <a href="emergency-alert-response"
                    >Emergency Alert & Response</a
                  >
                </li>
              </ul>
              <!-- /.sidebar__cat-list -->
            </div>
            <!-- /.sidebar__single -->
          </div>
          <!-- /.service-details__sidebar -->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-8">
          <div class="service-details__main">
            <div class="service-details__image">
              <img
                src="assets/wellnest/images/newimg/adl-2.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
            <!-- /.service-details__image -->
            <div class="service-details__content">
              <h3>Basic Nursing Care</h3>
              <p style="font-size: 20px">
                <strong>Professional nurses at your doorstep to manage:</strong>
              </p>
              <ul style="font-size: 20px">
                <li>Medication administration and vital monitoring</li>
                <li>Dressing wounds, injections, IV/IM support</li>
                <li>Managing catheters, feeding tubes, and tracheostomy</li>
                <li>Regular follow-ups to avoid unnecessary hospital visits</li>
              </ul>
            </div>
            <!-- /.service-details__content -->
          </div>
          <!-- /.service-details__main -->
        </div>
        <!-- /.col-lg-8 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.service-details -->

  <!-- /.cta-two -->

  {% endblock %}
</body>
