{% extends "templates/wellnest_web.html" %}

<title>
    {% block title %}WellNesT - Blogs{% endblock %}
</title>

<body>
{% block page_content %}
<section class="blog-grid">
  <div class="container">
    <div class="row high-gutter">
      <div class="col-lg-4 col-md-6">
        <div class="blog-one__single">
          <div class="blog-one__image">
            <img
              src="assets/wellnest/images/newimg/India needs professional caregivers to tend to the needs of the elderly.jpg"
              alt="" />
            <a href="india-needs-caregivers"><i class="fal fa-plus"></i></a>
          </div>
          <!-- /.blog-one__image -->
          <div class="blog-one__content">
            <!-- <a href="blog-details.html" class="blog-one__cat"
                >Lifestyle</a
              > -->
            <h3>
              <a href="india-needs-caregivers">India needs professional caregivers to tend to the needs
                of the elderly</a>
            </h3>
            <ul class="blog-one__meta list-unstyled">
              <li>
                <a href="india-needs-caregivers">By Admin</a>
              </li>
              <li>
                <a href="india-needs-caregivers">Just Now</a>
              </li>
            </ul>
            <!-- /.blog-one__meta -->
            <p>
              According to Population Census 2011, there are nearly 104
              million elderly persons (aged 60 years or above) in India;
            </p>
            <a href="india-needs-caregivers" class="blog-one__link"><i
                class="far fa-long-arrow-alt-right"></i></a><!-- /.blog-one__link -->
          </div>
          <!-- /.blog-one__content -->
        </div>
        <!-- /.blog-one__single -->
      </div>
      <!-- /.col-lg-4 col-md-6 -->
      <div class="col-lg-4 col-md-6">
        <div class="blog-one__single">
          <div class="blog-one__image">
            <img src="assets/wellnest/images/newimg/Need for Geriatric Care at Home.jpg" alt="" />
            <a href="need-for-geriatric"><i class="fal fa-plus"></i></a>
          </div>
          <!-- /.blog-one__image -->
          <div class="blog-one__content">
            <!-- <a href="Need-for-Geriatric .html" class="blog-one__cat"
                >Lifestyle</a
              > -->
            <h3>
              <a href="need-for-geriatric">Need for Geriatric Care at Home</a>
            </h3>
            <ul class="blog-one__meta list-unstyled">
              <li><a href="need-for-geriatric">By Admin</a></li>
              <li><a href="need-for-geriatric">Just Now</a></li>
            </ul>
            <!-- /.blog-one__meta -->
            <p>
              This holds true for most of us, especially the elderly of
              our family. The young and the restless go out for the quest
              of new and exciting goals in their lives trying to move
              out....,
            </p>
            <a href="need-for-geriatric" class="blog-one__link"><i
                class="far fa-long-arrow-alt-right"></i></a><!-- /.blog-one__link -->
          </div>
          <!-- /.blog-one__content -->
        </div>
        <!-- /.blog-one__single -->
      </div>
      <!-- /.col-lg-4 col-md-6 -->
      <div class="col-lg-4 col-md-6">
        <div class="blog-one__single">
          <div class="blog-one__image">
            <img src="assets/wellnest/images/newimg/Need for New-age Technology in the Geriatric Care Sector.jpg" alt="" />
            <a href="new-age-tech"><i class="fal fa-plus"></i></a>
          </div>
          <!-- /.blog-one__image -->
          <div class="blog-one__content">
            <!-- <a href="new-age-tech" class="blog-one__cat"
                >Lifestyle</a
              > -->
            <h3>
              <a href="new-age-tech">Need for New-age Technology in the Geriatric Care
                Sector</a>
            </h3>
            <ul class="blog-one__meta list-unstyled">
              <li><a href="new-age-tech">By Admin</a></li>
              <li><a href="new-age-tech">Just Now</a></li>
            </ul>
            <!-- /.blog-one__meta -->
            <p>
              Aging is a fact of life and none of us can ignore this
              pertinent fact. With medical science moving ahead in steady
              strides the life expectancy has
            </p>
            <a href="new-age-tech" class="blog-one__link">
              <i class="far fa-long-arrow-alt-right"></i>
            </a><!-- /.blog-one__link -->
          </div>
          <!-- /.blog-one__content -->
        </div>
        <!-- /.blog-one__single -->
      </div>
    </div>
    <!-- /.row -->
    <!-- <div class="text-center">
        <a href="#" class="thm-btn blog-one__more-btn">Load More</a
        
      </div> -->
    <!-- /.text-center -->
  </div>
  <!-- /.container -->
</section>

{% endblock %}
</body>
