{% extends "templates/wellnest_web.html" %}

<title>
    {% block title %}CareYogi - Caregiver Attendant{% endblock %}
</title>    
<body>
{% block page_content %}
<section class="service-details" style="padding-top: 35px !important">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="service-details__sidebar">
          <div class="sidebar__single sidebar__category">
            <h3 class="sidebar__title">Category</h3>
            <!-- /.sidebar__title -->
            <ul class="sidebar__cat-list">
              <li>
                <a href="nursing-care">Nursing Care</a>
              </li>
              <li class="active">
                <a href="caregiver-attendant">Caregiver Attendant</a>
              </li>
              <li>
                <a href="physiotherapy">Physiotherapy</a>
              </li>
              <li>
                <a href="ayurveda">Ayurveda</a>
              </li>
            </ul>
            <!-- /.sidebar__cat-list -->
          </div>
          <!-- /.sidebar__single -->
        </div>
        <!-- /.service-details__sidebar -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-8">
        <div class="service-details__main">
          <div class="service-details__image" >
            <img src="assets/wellnest/images/newimg/care giver.jpg" class="img-fluid" alt="" />
          </div>
          <!-- /.service-details__image -->
          <div class="service-details__content">
            <h3>
              CareYogi Caregiver Services: How We Help Seniors Thrive at
              Home
            </h3>
            <p>
              At CareYogi, we understand the importance of staying
              comfortable and independent in familiar surroundings. Our
              compassionate caregivers provide non-medical assistance to
              help seniors thrive at home.
            </p>
            <br />
            <h4>Here's how our services can help:</h4>
            <br />
            <ul>
              <li>
                Daily Living Activities : Our caregivers assists with
                tasks like bathing, dressing, grooming, preparing meals,
                medication reminders, walking, transferring, and light
                exercises. This allows seniors to maintain their routines,
                a sense of control, and promote mobility and overall
                well-being.
              </li>
              <li>
                Companionship & Light Housekeeping: Our caregivers are
                friendly and engaging, offering conversation, social
                interaction, light entertainment, handling laundry, light
                housework, and running errands. This combats loneliness,
                keeps spirits high, and frees up time for relaxation and
                activities you enjoy.
              </li>
            </ul>
            <br />
            <h4>Benefits of Choosing CareYogi Caregiver Services:</h4>
            <br />
            <ul>
              <li>
                Peace of mind & Continued independence: Knowing your loved
                one is safe, cared for, has companionship, and can
                maintain their independence for as long as possible brings
                peace of mind and boosts their confidence and overall
                well-being.
              </li>
              <li>
                Reduced stress: Caregivers can handle some of the daily
                responsibilities, alleviating stress for both seniors and
                their families.
              </li>
            </ul>
            <br />
            <h4>Three Simple Steps to Get Started:</h4>
            <br />
            <ul>
              <li>
                Contact Us: Reach out to our team to discuss your needs
                and schedule a free consultation.
              </li>
              <li>
                Personalized Care Plan: We'll work with you to create a
                customized plan that fits your loved one's unique needs.
              </li>
              <li>
                Compassionate Care: Our qualified caregivers will provide
                the support and companionship your loved one deserves.
              </li>
            </ul>
            <br />
            <p>
              Let CareYogi help your loved one age comfortably and
              confidently at home.
            </p>
          </div>
          <!-- /.service-details__content -->
        </div>
        <!-- /.service-details__main -->
      </div>
      <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.service-details -->

{% endblock %}
</body>
