{% extends "templates/wellnest_web.html" %}

<title>
    {% block title %}CareYogi - E-Choupal{% endblock %}
</title>    
<body>
{% block page_content %}
<section class="service-details" style="padding-top: 35px !important">
  <div class="container">
    <div class="row">
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="service-details__image">
          <img src="assets/wellnest/images/newimg/echoupal.jpg" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="col-lg-8">
        <div class="service-details__main">
          <!-- /.service-details__image -->
          <div class="service-details__content">
            <h3>Elders E-Choupal</h3>
            <p>
              The prevalence of loneliness among elderly in India is
              significantly high.Those with fewer social networks and less participation in
              social activities have higher odds of loneliness.
            </p>
            <p>
              We at WellnesT through our experience have found a
              unique solution- CareYogi e-Choupal. It is a online
              community of elders who can remain anonymous but share their
              hearts out. Connecting with likeminded individuals of their
              age gives them the Experience, Strength and Hope of others
              to recover from their feeling of loneliness.
            </p>
            <p></p>
            <h4>
              Type ‘e-choupal’ and whatsapp us on 9810918237 or click on
              the link below to join the group.
            </h4>
           <!-- <p>We will add you in this thriving community of elders</p>-->
          
          </div>
          <div class="main-nav__right" style="margin-top: 10px">
            <a href="https://chat.whatsapp.com/FeHNWeOQV872mgz8IWEkZj" target="_blank">
              <i class="oberlin-icon-whatsapp"></i>
              <b>Join E-Choupal Group!</b> </a><!-- /.main-nav-one__cta -->
          </div>
          <p></p>
          <p><b>Note:</b> This is a social initiative. No charges apply!</p>

          <!-- /.service-details__content -->
        </div>
        <!-- /.service-details__main -->
      </div>
      <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.service-details -->

{% endblock %}
</body>
