{% extends "templates/wellnest_web.html" %}

<title>
    {% block title %}CareYogi - FAQs{% endblock %}
</title>    
<body>
{% block page_content %}
<section class="blog-grid">
  <div class="container">
    <h2>Frequently asked questions</h2>
    <br>
    <p>
      <strong> 1. How do I start services with CareYogi™️?</strong><br>
      To begin services, contact us through our website or phone number. We will set up an initial assessment to
      understand your needs and then match you with a suitable caregiver.
    </p>
    <p>
      <strong> 2. What hours are caregivers available?</strong>
      <br>
      Our caregivers are available for both part-time and full-time schedules, including 24-hour care if needed.
      You can choose from various shift options that best suit your requirements.
    </p>
    <p>
      <strong>
        3. Can CareYogi™️ provide care for someone with specific medical conditions like Alzheimer's or Parkinson's?
      </strong>
      <br> Yes, we have passionate caregivers who are trained to care for patients with Alzheimer’s, Parkinson’s,
      and
      other specific medical conditions. They are equipped to handle the unique challenges associated with these
      diseases and family first care.
    </p>
    <p>
      <strong>4. What happens if a caregiver is sick or on leave?</strong>
      <br>
      We ensure that there is always a backup plan in place for transitional care excellence and supporting
      families. If your regular caregiver cannot make it due to illness or leave, we will arrange for a substitute
      caregiver who is equally qualified.
    </p>
    <p>
      <strong>
        5. How are caregivers matched with clients?
      </strong>
      <br>
      Caregivers for innovative healthcare are matched based on the specific needs, personality, and preferences
      of
      the client. We also consider the caregiver’s skills and past experience to ensure a good fit.
    </p>
    <p>
      <strong> 6. Is there a minimum commitment period for using your services?</strong>
      <br>
      There is no minimum commitment period. You can use our innovative healthcare solutions in Delhi NCR,
      Hyderabad, and other cities in India, for as long as you need, whether it's for a few days or on an ongoing
      basis.
    </p>
    <p>
      <strong> 7. Can CareYogi™️ help with household tasks as well as medical care? </strong>
      <br>
      Yes, our caregivers can assist with household tasks such as light cleaning, laundry, and meal preparation,
      in
      addition to providing medical and personal care.
    </p>
    <p>
      <strong>
        8. How does CareYogi™️ ensure privacy and confidentiality in its services?
      </strong>
      <br>
      We adhere strictly to privacy laws and guidelines to protect our clients’ information. Confidentiality is a
      key part of our training process for all caregivers.
    </p>
    <p>
      <strong>
        9. What types of training do your caregivers receive?
      </strong>
      <br>
      We take measures for empowering caregivers with comprehensive training that includes clinical skills,
      emergency response, and soft skills like communication and elderly empathy.
    </p>
    <p>
      <strong>
        10. How do I pay for services, and what forms of payment do you accept?
      </strong>
      <br>
      Payments for personalized wellness can be made via several methods, including online payments, bank
      transfers,
      or credit/debit cards.
    </p>
  </div>
  <!-- /.container -->
</section>
<!-- /.blog-grid -->

{% endblock %}
</body>
