<style>
  p,
  h2 {
    color: #414141 !important;
  }
</style>
{% extends "templates/wellnest_web.html" %}

<title>
    {% block title %}WellNesT - Hospital Partners{% endblock %}
</title>    
<body>
{% block page_content %}
<section class="blog-grid">
  <div class="container">
    <h2>Developing Successful Hospitals – Homecare Partnership</h2>
    <br>
    <p>
      At WellNesT, we see the need for the hospitals and other healthcare institutions to collaborate and potentially provide integrated solution to delight the customers
      Amongst other things, such a partnership will allow hospitals to:
    </p>
    <ul>
      <li>
        <strong>Reduce</strong> the Average Length of Stay <strong>(ALOS)</strong> in the hospital
      </li>
      <li>
        <strong>Increase average revenue per bed</strong> for hospitals
      </li>
      <li>
        <strong>Extend</strong> the hospitals'<strong>service</strong> delivery into the patient’s house
      </li>
      <li>
        <strong>
          Extend the reach of healthcare
        </strong>
        to a wider population and locations
      </li>
      <li>
        Provide a <strong>solution for underdeveloped healthcare infrastructure</strong>
      </li>
      <li>
        Lower non acute cases admissions that could block limited resource
      </li>
    </ul>

   
    <p>
      All of the above while ensuring Doctors are able to review patient conditions at all
      times and provide advices for better health outcomes at the right time.

    </p>
   
    <p>
      <b>CONTACT US</b>: FILL FORM OR <a href="mailto:info@thewellnest.in">info@thewellnest.in</a> OR CALL <a
        href="tel:+919810918237">+91 9810918237</a>
    </p>

  </div>
  <!-- /.container -->
</section>

<section class="contact-one">
  <div class="container">
    <div class="block-title text-center">
      <p>Fill Form</p>
      <!-- <h3>Apply for Oberlin <br> Career</h3> -->
    </div><!-- /.block-title -->
    <form action="assets/wellnest/inc/sendemail.php" class="contact-one__form contact-form-validated">
      <div class="row">
        <div class="col-md-6">
          <input type="text" placeholder="Hospital Name" name="name">
        </div><!-- /.col-md-6 -->
        <div class="col-md-6">
          <input type="text" placeholder="Address" name="Address">
        </div><!-- /.col-md-6 -->
        <div class="col-md-6">
          <input type="text" placeholder="Contact Person Name" name="Contact Person Name">
        </div>
        <div class="col-md-6">
          <input type="text" placeholder="Mobile Number" name="mobile-number">
        </div><!-- /.col-md-6 -->
        <div class="col-md-12">
          <input type="text" placeholder="Email ID" name="Email ID">
        </div>

        <div class="col-md-12">
          <textarea name="message" placeholder="Message"></textarea>
        </div><!-- /.col-md-12 -->
        <div class="col-md-12 text-center">
          <button type="submit" class="thm-btn contact-one__btn">Submit Now</button>
          <!-- /.thm-btn contact-one__btn -->
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
    </form>
    <div class="result"></div><!-- /.result -->
  </div><!-- /.container -->
</section><!-- /.contact-one -->
<!-- /.blog-grid -->

{% endblock %}
</body>
