{% extends "templates/wellnest_web.html" %}

<title>{% block title %}CareYogi - Hospice Care{% endblock %}</title>
<body>
  {% block page_content %}
  <section
    class="page-header"
    style="
      background-image: url(assets/wellnest/images/background/page-header-hospice-care.jpg);
    "
  >
    <div class="container">
      <h2>Hospice Care</h2>
      <ul class="list-unstyled thm-breadcrumb">
        <li><a href="index">Home</a></li>
        <li><span>Service Details</span></li>
      </ul>
      <!-- /.list-unstyled -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.page-header -->
  <section class="service-details" style="padding-top: 35px !important">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="service-details__sidebar">
            <div class="sidebar__single sidebar__category">
              <h3 class="sidebar__title">Category</h3>
              <!-- /.sidebar__title -->
              <ul class="sidebar__cat-list">
                <li>
                  <a href="caregiver-attendant">Attendant Care</a>
                </li>
                <li>
                  <a href="nursing-care">Basic Nursing Care</a>
                </li>
                <li>
                  <a href="doctor-at-home">Critical Care at Home</a>
                </li>
                <li>
                  <a href="speech-therapy">Audio & Speech Therapy</a>
                </li>
                <li>
                  <a href="physiotherapy">Physiotherapy at Home</a>
                </li>
                <li class="active">
                  <a href="hospice-care">Hospice Care</a>
                </li>
                <li>
                  <a href="palliative-care">Palliative Care</a>
                </li>
                <li>
                  <a href="dementia-care">Dementia Care</a>
                </li>
                <li>
                  <a href="emergency-alert-response"
                    >Emergency Alert & Response</a
                  >
                </li>
              </ul>
              <!-- /.sidebar__cat-list -->
            </div>
            <!-- /.sidebar__single -->
          </div>
          <!-- /.service-details__sidebar -->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-8">
          <div class="service-details__main">
            <div class="service-details__image">
              <img
                src="assets/wellnest/images/newimg/hospice care.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
            <!-- /.service-details__image -->
            <div class="service-details__content">
              <h3>Hospice Care</h3>
              <p style="font-size: 20px">
                At the end of life, dignity matters most. CAREYOGI’s hospice
                care is designed to offer comfort, peace, and emotional closure,
                ensuring patients are surrounded by love and care.
              </p>
            </div>
            <!-- /.service-details__content -->
          </div>
          <!-- /.service-details__main -->
        </div>
        <!-- /.col-lg-8 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.service-details -->

  {% endblock %}
</body>
