{% extends "templates/wellnest_web.html" %}

<title>
    {% block title %}CareYogi - Physiotherapy{% endblock %}
</title>    
<body>
{% block page_content %}
<section class="service-details" style="padding-top: 35px !important">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="service-details__sidebar">
          <div class="sidebar__single sidebar__category">
            <h3 class="sidebar__title">Category</h3>
            <!-- /.sidebar__title -->
            <ul class="sidebar__cat-list">
              <li>
                <a href="caregiver-attendant">Caregiver Attendant</a>
              </li>
              <li>
                <a href="nursing-care">Nursing Care</a>
              </li>
              <li>
                <a href="doctor-at-home">Doctor at Home</a>
              </li>
              <li>
                <a href="speech-therapy">Speech Therapy</a>
              </li>
              <li>
                <a href="physiotherapy">Physiotherapy</a>
              </li>
              <li class="active">
                <a href="hospice-care">Hospice & Palliative Care</a>
              </li>
            </ul>
            <!-- /.sidebar__cat-list -->
          </div>
          <!-- /.sidebar__single -->
        </div>
        <!-- /.service-details__sidebar -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-8">
        <div class="service-details__main">
          <div class="service-details__image">
            <img src="assets/wellnest/images/newimg/hospice care.jpg" class="img-fluid" alt="" />
          </div>
          <!-- /.service-details__image -->
          <div class="service-details__content">
            <h3>Compassionate Palliative & Hospice Care at Home</h3>
            <p>
              Ensure comfort, dignity, and peace for your loved ones with our palliative and hospice care at home. 
              Our specialized team provides pain management, emotional support, and round-the-clock medical care, focusing on enhancing 
              quality of life for those with serious or terminal illnesses. With a holistic, family-centered approach, we offer compassionate
               care that prioritizes comfort, respect, and serenity—because every moment matters.
            </p>
          </div><!-- /.service-details__content -->
        </div><!-- /.service-details__main -->
      </div><!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.service-details -->

{% endblock %}
</body>
