{% extends "templates/wellnest_web.html" %}

<title>
    {% block title %}CareYogi - Home Care{% endblock %}
</title>    
<body>
{% block page_content %}

<section class="slider-two__wrapper">
  <div class="container-fluid">
      <div class="row no-gutters">
          <div class="col-lg-5 d-flex">
              <div class="my-auto">
                  <div class="slider-two__main">
                      <h3>
                        {{ top_header3 }}
                      </h3>
                      <p>
                        {{ offering_description }}
                      </p>
                      <a href="contact-us" class="thm-btn slider-two__btn">Contact Us</a>
                      <!-- /.thm-btn slider-two__btn -->
                      <ul id="slider-two__carousel-dots" class="list-unstyled owl-dots">
                          <li class="owl-dot"></li>
                          <li class="owl-dot"></li>
                          <li class="owl-dot"></li>
                      </ul>
                  </div><!-- /.slider-two__main -->
              </div><!-- /.my-auto -->
          </div><!-- /.col-lg-6 -->
          <div class="col-lg-7 d-flex justify-content-end">
              <div class="slider-two__carousel owl-carousel thm__owl-carousel owl-theme"
                  data-carousel-dots-container="#slider-two__carousel-dots" data-options='{
                  "items": 1, "loop": true, "autoplay": true, "autoplayTimeout": 7000, "autoplayHoverPause": true, "margin": 0, "smartSpeed": 1000, "dotsContainer": &quot;#slider-two__carousel-dots&quot;
              }'>
                  <div class="item">
                      <div class="slider-two__carousel-single">
                        <img src="assets/wellnest/images/main-slider/main-slider-2-1.jpg" alt="">
                        <div class="slider-two__carousel-content">
                          <h3>Your Care Partner</h3>
                          <p>
                            At CareYogi, we're here to alleviate the stress of caring
                            for elders, so you can focus on living your life. Our
                            transitional care excellence, supported by advanced
                            technology, is designed for empowering caregivers and
                            supporting families.
                          </p>
                        </div><!-- /.slider-two__carousel-content -->
                      </div><!-- /.slider-two__carousel-single -->
                  </div><!-- /.item -->
                  <div class="item">
                      <div class="slider-two__carousel-single">
                          <img src="assets/wellnest/images/main-slider/main-slider-2-2.jpg" alt="">
                          <div class="slider-two__carousel-content">
                              <h3>Senior Nursing Care</h3>
                              <p>
                                Tech-enabled, professionally delivered home care ensures the highest quality medical attention
                              </p>
                          </div><!-- /.slider-two__carousel-content -->

                      </div><!-- /.slider-two__carousel-single -->
                  </div><!-- /.item -->
                  <div class="item">
                      <div class="slider-two__carousel-single">
                          <img src="assets/wellnest/images/main-slider/main-slider-2-3.jpg" alt="">
                          <div class="slider-two__carousel-content">
                              <h3>Seva without any biases</h3>
                              <p>
                                CareYogi, as an organization, and all our caregivers, embody the spirit of care in providing 
                                service to the clients.
                              </p>
                          </div><!-- /.slider-two__carousel-content -->
                      </div><!-- /.slider-two__carousel-single -->
                  </div><!-- /.item -->
              </div><!-- /.slider-two__carousel owl-carousel thm__owl-carousel owl-theme -->
          </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section><!-- /.slider-two__wrapper -->

  <section class="service-one service-one__service-page" id="services-section">
    <div class="container">
      <div class="block-title text-center">
        <p>Services</p>
        <h3>
          Our Services
        </h3>
      </div>
      <!-- /.block-title -->
      <div class="row high-gutter">
        <div class="col-lg-4 col-md-6">
            <div class="service-one__single">
                <div class="service-one__image">
                    <img src="assets/wellnest/images/newimg/adl.jpg" alt="">
                </div><!-- /.service-one__image -->
                <div class="service-one__content">
                    <div class="service-one__icon">
                        <i class="oberlin-icon-disability"></i>
                    </div><!-- /.service-one__icon -->
                    <h3><a href="caregiver-attendant">Assistance with Daily Living</a></h3>
                    <p>
                      Our Assistance with Daily Living (ADL) services ensure that elders receive the care, dignity, and support they need
                       to live comfortably at home.                     </p>      
                    <a href="caregiver-attendant" class="service-one__link"><i
                            class="far fa-long-arrow-alt-right"></i></a><!-- /.service-one__link -->
                </div><!-- /.service-one__content -->
            </div><!-- /.service-one__single -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-md-6">
            <div class="service-one__single">
                <div class="service-one__image">
                    <img src="assets/wellnest/images/newimg/nursing care service.jpg" alt="">
                </div><!-- /.service-one__image -->
                <div class="service-one__content">
                    <div class="service-one__icon">
                        <i class="oberlin-icon-stethoscope"></i>
                    </div><!-- /.service-one__icon -->
                    <h3><a href="nursing-care">Nursing Care</a></h3>
                    <p>
                      Hospital-level expertise at home: Complex medical needs, wound care, precise meds, vital sign
                      monitoring - for optimal recovery.
                    </p>
                    <a href="nursing-care" class="service-one__link"><i
                            class="far fa-long-arrow-alt-right"></i></a><!-- /.service-one__link -->
                </div><!-- /.service-one__content -->
            </div><!-- /.service-one__single -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-md-6">
            <div class="service-one__single">
                <div class="service-one__image">
                    <img src="assets/wellnest/images/newimg/doctor.jpeg" alt="">
                </div><!-- /.service-one__image -->
                <div class="service-one__content">
                    <div class="service-one__icon">
                        <i class="oberlin-icon-stethoscope"></i>
                    </div><!-- /.service-one__icon -->
                    <h3><a href="doctor-at-home">Doctor at Home</a></h3>
                    <p>
                      CareYogi™ offers 'Doctor at Home' for specialised services for elderly with mobility challenges to visit hospital.
                    </p>
                    <a href="doctor-at-home" class="service-one__link"><i
                            class="far fa-long-arrow-alt-right"></i></a><!-- /.service-one__link -->
                </div><!-- /.service-one__content -->
            </div><!-- /.service-one__single -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-md-6">
            <div class="service-one__single">
                <div class="service-one__image">
                    <img src="assets/wellnest/images/newimg/speech-therapy.jpeg" alt="">
                </div><!-- /.service-one__image -->
                <div class="service-one__content">
                    <div class="service-one__icon">
                        <i class="oberlin-icon-discussion"></i>
                    </div><!-- /.service-one__icon -->
                    <h3><a href="speech-therapy">Speech Therapy</a></h3>
                    <p>
                      CareYogi™ has partnered with renowned speech therapists in Hyderabad to offer diagnosis and treatment of speech, language, 
                      swallowing, and communication disorders.
                    </p>
                    <a href="speech-therapy" class="service-one__link"><i
                            class="far fa-long-arrow-alt-right"></i></a><!-- /.service-one__link -->
                </div><!-- /.service-one__content -->
            </div><!-- /.service-one__single -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-md-6">
            <div class="service-one__single">
                <div class="service-one__image">
                    <img src="assets/wellnest/images/newimg/physiotherapy.jpeg" alt="">
                </div><!-- /.service-one__image -->
                <div class="service-one__content">
                    <div class="service-one__icon">
                        <i class="oberlin-icon-exercise"></i>
                    </div><!-- /.service-one__icon -->
                    <h3><a href="physiotherapy">Physiotherapy</a></h3>
                    <p>
                      Expert physiotherapists at home who specialize in older people, especially those with falls, stroke, arthritis and frailty.
                    </p>
                    <a href="physiotherapy" class="service-one__link"><i
                            class="far fa-long-arrow-alt-right"></i></a><!-- /.service-one__link -->
                </div><!-- /.service-one__content -->
            </div><!-- /.service-one__single -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-md-6">
          <div class="service-one__single">
              <div class="service-one__image">
                  <img src="assets/wellnest/images/newimg/hospice care.jpg" alt="">
              </div><!-- /.service-one__image -->
              <div class="service-one__content">
                  <div class="service-one__icon">
                      <i class="oberlin-icon-disability"></i>
                  </div><!-- /.service-one__icon -->
                  <h3><a href="hospice-care">Hospice & Palliative Care</a></h3>
                  <p>
                    Compassionate Palliative & Hospice Care at Home.
                  </p>
                  <a href="hospice-care" class="service-one__link"><i
                          class="far fa-long-arrow-alt-right"></i></a><!-- /.service-one__link -->
              </div><!-- /.service-one__content -->
          </div><!-- /.service-one__single -->
      </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.service-one -->

  <section class="about-three">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="about-three__content">
            <div class="block-title">
              <p class="has-line">Our Continuum of care</p>
              <!-- /.has-line -->
              <h3>
                CareYogi exists to take parental or patient care stress off your shoulder, and allow you to focus
                on your own life
              </h3>
            </div>
            <!-- /.block-title -->
            <p>
              It is a pleasure to introduce CareYogi. We are an Elder
              Care & out of hospital transitional care super
              specialty, disrupting the way care is perceived. Our
              HTHT (Hi-Tech- Hi Touch) platform enabled by our
              passionate caregivers and unmatched caregiving
              practices speeds patient outcomes & recovery.
            </p>
            <p>
              We are strongly recommended by our partners-Hospitals,
              Clinics and Doctors who lay their trust on us.At The
              CareYogi, we are passionate about delivering the highest
              standard of outcome based care. Be it the finest trained
              care giver bed side attendants or nurses or
              state-of-the-art technology for transparency and
              efficiency.
            </p>
            <p>
              When you are passionate about care giving for the lives
              that have been entrusted to you, nothing is too big or
              small to ignore.
            </p>
            <div class="row">
              <div class="col-xl-6">
                <ul class="blog-details__list list-unstyled">
                  <li>
                    <i class="fa fa-check-circle"></i>
                    Stroke Care
                  </li>
                  <li>
                    <i class="fa fa-check-circle"></i>
                    Feeding Tube Care
                  </li>
                  <li>
                    <i class="fa fa-check-circle"></i>
                    Oncology Care
                  </li>
                  <li>
                    <i class="fa fa-check-circle"></i>
                    Orthopedic Care
                  </li>
                  <li>
                    <i class="fa fa-check-circle"></i>
                    Trachestomy Care
                  </li>
                  <li>
                    <i class="fa fa-check-circle"></i>
                    Trauma Care
                  </li>
                </ul>
                <!-- /.blog-details__list list-unstyled -->
              </div>
              <!-- /.col-md-6 -->
              <div class="col-xl-6">
                <ul class="blog-details__list list-unstyled">
                  <li>
                    <i class="fa fa-check-circle"></i>
                    Spine Care
                  </li>
                  <li>
                    <i class="fa fa-check-circle"></i>
                    Craniotomy Care
                  </li>
                  <li>
                    <i class="fa fa-check-circle"></i>
                    Cardiac Care
                  </li>
                  <li>
                    <i class="fa fa-check-circle"></i>
                    Post Covid-19 Care
                  </li>
                  <li>
                    <i class="fa fa-check-circle"></i>
                    Post-Operative Care
                  </li>
                  <li>
                    <i class="fa fa-check-circle"></i>
                    Parkinson's Care
                  </li>
                </ul>
                <!-- /.blog-details__list list-unstyled -->
              </div>
              <!-- /.col-md-6 -->

            </div>
            <!-- /.row -->
          </div>
          <!-- /.about-three__content -->
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="1500ms">
          <div class="about-three__image">
            <img src="assets/wellnest/images/shapes/about-dot-3-1.png" class="about-dot-3-1" alt="" />

            <!-- /.about-three__image-text -->
            <img src="assets/wellnest/images/newimg/adl.jpg" alt="" width="470" height="540" />
          </div>
          <!-- /.about-three__image -->
        </div>
        <!-- /.col-lg-6 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.about-three -->

  <!-- /.funfact-one -->

  <section class="faq-three">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="faq-three__image wow fadeInLeft" data-wow-duration="1500ms">
            <img src="assets/wellnest/images/shapes/faq-2-dot.png" class="faq-three__image-dots" alt="" />
            <img src="assets/wellnest/images/newimg/adl-2.jpg" alt="" width="470" height="600" />
          </div>
          <!-- /.faq-three__image -->
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6">
          <div class="faq-one__block">
            <div class="block-title text-left">
              <p class="has-line">Why Choose Us</p>
              <h3>
                CareYogi: Top Choice for Hassle-Free Home Care
              </h3>
            </div>
            <!-- /.block-title -->

            <p>
              We evolved the concept of World Class services to unburden the patient and their families.
            </p>
            <div class="accrodion-grp" data-grp-name="career-one__accrodion">
              <div class="accrodion active">
                <div class="accrodion-title">
                  <h4>Fast & Easy Booking</h4>
                </div>
                <div class="accrodion-content">
                  <div class="inner">
                    <p>
                      Shedule care in minutes, with minimal stress
                    </p>
                  </div>
                  <!-- /.inner -->
                </div>
              </div>
              <div class="accrodion">
                <div class="accrodion-title">
                  <h4>Top-Tier Caregivers</h4>
                </div>
                <div class="accrodion-content">
                  <div class="inner">
                    <p>
                      Get matched with qualified compassionate caregivers
                    </p>
                  </div>
                  <!-- /.inner -->
                </div>
              </div>
              <div class="accrodion">
                <div class="accrodion-title">
                  <h4>Seamless Transitions</h4>
                </div>
                <div class="accrodion-content">
                  <div class="inner">
                    <p>
                      Experience a smooth start to home care with clear communication.
                    </p>
                  </div>
                  <!-- /.inner -->
                </div>
              </div>
              <div class="accrodion">
                <div class="accrodion-title">
                  <h4>Thorough Background Checks</h4>
                </div>
                <div class="accrodion-content">
                  <div class="inner">
                    <p>
                      Ensure peace of mind with rigorous caregiver screening.
                    </p>
                  </div>
                  <!-- /.inner -->
                </div>
              </div>
              <div class="accrodion">
                <div class="accrodion-title">
                  <h4>Flexible Refunds</h4>
                </div>
                <div class="accrodion-content">
                  <div class="inner">
                    <p>
                      Benefit from hassle-free adjustments to your care plan.
                    </p>
                  </div>
                  <!-- /.inner -->
                </div>
              </div>
            </div>
          </div>
          <!-- /.faq-one__block -->
        </div>
        <!-- /.col-lg-6 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section><!-- /.faq-three -->

  <section class="testimonials-one">
    <div class="container">
        <div class="block-title text-center">
            <p>Testimonials</p>
            <h3>What do Our Clients Say <br> About CareYogi?</h3>
        </div><!-- /.block-title -->
        <div class="testimonials-one__carousel thm__owl-carousel owl-carousel owl-theme" data-options='{
            "items": 2, "nav": false, "dots": true, "margin": 40, "loop": true, "smartSpeed": 700, "autoplay": true, "autoplayTimeout": 5000, "autoplayHoverPause": true, "responsive": {
                "0": {"items": 1, "margin": 0, "dots": false, "nav": true},
                "767": {"items": 1, "margin": 0, "dots": false, "nav": true},
                "991": {"items": 2, "margin": 30},
                "1199": {"items": 2}
            }
        }'>
            <div class="item">
                <div class="testimonials-one__single">
                    <div class="testimonials-one__inner">
                        <div class="testimonials-one__image">
                            <img src="assets/wellnest/images/resources/testi-1-1.jpg" alt="">
                        </div><!-- /.testimonials-one__image -->
                        <p>
                          I recently availed the caregiver services from CareYogi for my husband, who required post-stroke care. The entire process, from initial consultation to the daily caregiving routine, was handled with utmost professionalism and compassion.
                          The caregiver assigned to us was not only skilled and attentive but also genuinely caring. They ensured my husband’s needs were met, whether it was assistance with mobility, personal care, or emotional support. Their punctuality and dedication made a significant difference in his recovery journey and provided me with peace of mind.                          
                          I also appreciate CareYogi’s seamless coordination and communication throughout. They were responsive to any feedback or adjustments we required, which made the entire experience stress-free.                          
                          I highly recommend CareYogi to anyone looking for reliable and compassionate caregiving services. Their team truly goes above and beyond to support families in challenging times.                          
                          Thank you, CareYogi!                       </p>
                        <h3>Neelima Shrivastava</h3>
                        <span>Miyapur</span>
                    </div><!-- /.testimonials-one__inner -->
                </div><!-- /.testimonials-one__single -->
            </div><!-- /.item -->
            <div class="item">
                <div class="testimonials-one__single">
                    <div class="testimonials-one__inner">
                        <div class="testimonials-one__image">
                            <img src="assets/wellnest/images/resources/testi-1-2.jpg" alt="">
                        </div><!-- /.testimonials-one__image -->
                        <p>
                          Careyogi undeniably offers the top caretaker services in India. Their standout qualities include their prompt response and their exceptional dedication to meeting customers' needs. When my mother required a caregiver, they arranged one in record time and consistently followed up to ensure the service quality remained high. Their commitment to excellence is truly commendable.
                          I'm incredibly satisfied with their service and the overall experience, and I wholeheartedly recommend Careyogis to all my friends and family.
                          A special shoutout to Preity for making this such a wonderful experience for me! undeniably offers the top caretaker services in India. Their standout qualities include their prompt response and their exceptional dedication to meeting customers' needs. When my mother required a caregiver, they arranged one in record time and consistently followed up to ensure the service quality remained high. Their commitment to excellence is truly commendable. I'm incredibly satisfied with their service and the overall experience, and I wholeheartedly recommend Careyogis to all my friends and family. A special shoutout to Preity for making this such a wonderful experience for me!                        </p>
                        <h3>Debashree Sen</h3>
                        <span>KPHB</span>
                    </div><!-- /.testimonials-one__inner -->
                </div><!-- /.testimonials-one__single -->
            </div><!-- /.item -->
            <div class="item">
              <div class="testimonials-one__single">
                  <div class="testimonials-one__inner">
                      <div class="testimonials-one__image">
                          <img src="assets/wellnest/images/resources/testi-1-2.jpg" alt="">
                      </div><!-- /.testimonials-one__image -->
                      <p>
                        I would like to give 5/5 to CAREYOGI because I'm disabled and I'm totally dependant on my care taker 
                        and the CareYogi team really fullfil my need and provide me a good caretaker and for very good service provided by the team.
                        I took care taker service 24/7 for my self and Mr. Rohit and there team was able arrange a very well caretaker and good service 
                        within short time of notice.Ovrall I'm happy with the team and very thankful and in future when my needs come I would definitely 
                        contact them again as well and I recommend to others.                        
                      </p>
                      <h3>Biva Jha</h3>
                      <span>Tellapur</span>
                    </div><!-- /.testimonials-one__inner -->
              </div><!-- /.testimonials-one__single -->
            </div><!-- /.item -->
            <div class="item">
              <div class="testimonials-one__single">
                  <div class="testimonials-one__inner">
                      <div class="testimonials-one__image">
                          <img src="assets/wellnest/images/resources/testi-1-2.jpg" alt="">
                      </div><!-- /.testimonials-one__image -->
                      <p>
                        <b>Awesome Tech Helps Us Stay Calm</b><br>                          
                        CareYogi's technology lets us know how my dad is doing all the time. It's comforting to
                        know that he's being watched over so carefully.
                      </p>
                      <h3>Chaitali Majumdar</h3>
                      <span>Gurugram</span>
                  </div><!-- /.testimonials-one__inner -->
              </div><!-- /.testimonials-one__single -->
          </div><!-- /.item -->
          <div class="item">
                <div class="testimonials-one__single">
                    <div class="testimonials-one__inner">
                        <div class="testimonials-one__image">
                            <img src="assets/wellnest/images/resources/testi-1-2.jpg" alt="">
                        </div><!-- /.testimonials-one__image -->
                        <p>
                          <b>Kind and Skilled People</b><br>
                          Everyone from CareYogi is really good at their job and truly kind. They care a lot about
                          their clients, which makes us feel very reassured.
                        </p>
                        <h3>Sariq Baddour</h3>
                        <span>Secunderabad</span>
                    </div><!-- /.testimonials-one__inner -->
                </div><!-- /.testimonials-one__single -->
            </div><!-- /.item -->
        </div><!-- /.row high-gutter -->

    </div><!-- /.container -->
</section><!-- /.testimonials-one -->
{% endblock %}
</body>