{% extends "templates/wellnest_web.html" %}

<title>
    {% block title %}CareYogi - Home Care{% endblock %}
</title>    
<body>
{% block page_content %}
<section class="slider-one__wrapper">
  <div class="slider-one__nav">
      <a href="#" class="slider-one__nav-left">
          <i class="far fa-angle-left"></i>
      </a><!-- /.slider-one__nav-left -->
      <a href="#" class="slider-one__nav-right">
          <i class="far fa-angle-right"></i>
      </a><!-- /.slider-one__nav-left -->
  </div><!-- /.slider-one__nav -->
  <div class="slider-one__carousel owl-carousel owl-theme thm__owl-carousel" data-options='{
      "items": 1, "loop": true, "autoplay": true, "autoplayHoverPause": true, "autoplayTimeout": 5000,
      "margin": 0, "dots": false, "nav": false, "animateOut": &quot;fadeOut&quot;, "animateIn": &quot;fadeIn&quot;, "active": true, "smartSpeed": 1000}'
       data-carousel-next-btn=".slider-one__nav-right" data-carousel-prev-btn=".slider-one__nav-left">
      <div class="item" style="background-image: url(assets/wellnest/images/main-slider/main-slider-1-1.jpg);">
          <div class="slider-one__item">
              <div class="container">
                  <div class="row justify-content-end">
                      <div class="col-lg-12 d-flex justify-content-end">
                          <div class="slider-one__content">
                              <div class="slider-one__content-inner">
                                <h3>
                                  {{ top_header3 }}
                                </h3>
                                <p>
                                  {{ offering_description }}
                                </p>
                                <a href="contact-us" class="thm-btn slider-one__btn">Contact Us</a>
                          </div><!-- /.slider-one__content-inner -->
                          </div><!-- /.slider-one__content -->
                      </div><!-- /.col-lg-6 -->
                  </div><!-- /.row justify-content-end -->
              </div><!-- /.container -->
          </div><!-- /.slider-one__item -->
      </div><!-- /.item -->
      <div class="item" style="background-image: url(assets/wellnest/images/main-slider/main-slider-1-2.jpg);">
          <div class="slider-one__item">
              <div class="container">
                  <div class="row justify-content-end">
                      <div class="col-lg-12 d-flex justify-content-end">
                          <div class="slider-one__content">
                              <div class="slider-one__content-inner">
                                  <h3>Seva (care) without any biases</h3>
                                  <p>
                                    CareYogi, as an organization, and all our caregivers, embody the spirit of care in providing 
                                    service to the clients
                                  </p>
                                  <a href="contact-us" class="thm-btn slider-one__btn">Contact Us</a>
                              </div><!-- /.slider-one__content-inner -->
                          </div><!-- /.slider-one__content -->
                      </div><!-- /.col-lg-6 -->
                  </div><!-- /.row justify-content-end -->
              </div><!-- /.container -->
          </div><!-- /.slider-one__item -->
      </div><!-- /.item -->
      <div class="item" style="background-image: url(assets/wellnest/images/main-slider/main-slider-1-3.jpg);">
          <div class="slider-one__item">
              <div class="container">
                  <div class="row justify-content-end">
                      <div class="col-lg-12 d-flex justify-content-end">
                          <div class="slider-one__content">
                              <div class="slider-one__content-inner">
                                  <h3>Welcome to CareYogi</h3>
                                  <p>
                                    At CareYogi, we're here to alleviate the stress of caring
                                    for elders, so you can focus on living your life. Our
                                    transitional care excellence, supported by advanced
                                    technology, is designed for empowering caregivers and
                                    supporting families.
                                  </p>
                                  <a href="contact-us" class="thm-btn slider-one__btn">Contact Us</a>
                              </div><!-- /.slider-one__content-inner -->
                          </div><!-- /.slider-one__content -->
                      </div><!-- /.col-lg-6 -->
                  </div><!-- /.row justify-content-end -->
              </div><!-- /.container -->
          </div><!-- /.slider-one__item -->
      </div><!-- /.item -->
  </div><!-- /.slider-one__carousel owl-carousel owl-theme thm__owl-carousel -->
</section><!-- /.slider-one__wrapper -->

  <section class="slider-one__wrapper display-mobile">
    <div class="slider-one__nav">
      <a href="#" class="slider-one__nav-left">
        <i class="far fa-angle-left"></i> </a><!-- /.slider-one__nav-left -->
      <a href="#" class="slider-one__nav-right">
        <i class="far fa-angle-right"></i> </a><!-- /.slider-one__nav-left -->
    </div>
    <!-- /.slider-one__nav -->
    <div class="slider-one__carousel owl-carousel owl-theme thm__owl-carousel" data-options='{
              "items": 1, "loop": false, "autoplay": false, "autoplayHoverPause": false, "autoplayTimeout": false,
              "margin": 0, "dots": false, "nav": false, "animateOut": "fadeOut", "animateIn": "fadeIn", "active": true, "smartSpeed": 1000
          }' data-carousel-next-btn=".slider-one__nav-right" data-carousel-prev-btn=".slider-one__nav-left">

      <div class="item" style="
            background-image: url(./assets/wellnest/images/newimg/mobile-banner.jpg);
            width: 100%;
            height: 100%;
          ">
        <div class="slider-one__item">
          <div class="container">
            <div class="row justify-content-end">
              <div class="col-lg-12 d-flex justify-content-end">
                <div class="slider-one__content">
                  <div class="slider-one__content-inner">
                    <h3>
                        {{ top_header3 }}
                    </h3>
                    <p>
                        {{ offering_description }}
                    </p>
                    <a href="contact-us" class="thm-btn slider-one__btn">Contact Us</a>
                    <!-- /.thm-btn slider-one__btn -->
                  </div>
                  <!-- /.slider-one__content-inner -->
                </div>
                <!-- /.slider-one__content -->
              </div>
              <!-- /.col-lg-6 -->
            </div>
            <!-- /.row justify-content-end -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.slider-one__item -->
      </div>
      <!-- /.slider-one__carousel owl-carousel owl-theme thm__owl-carousel -->
  </section>
  <!-- 
    <section>
      <img src="./assets/wellnest/images/newimg/mobile banner-01.jpg" alt="" class="img-fluid">
    </section> -->
  <!-- /.slider-one__wrapper -->

  <section class="service-one service-one__service-page" id="services-section">
    <div class="container">
      <div class="block-title text-center">
        <p>Services</p>
        <h3>
          Our Services
        </h3>
      </div>
      <!-- /.block-title -->
      <div class="row high-gutter">
        <div class="col-lg-4 col-md-6">
            <div class="service-one__single">
                <div class="service-one__image">
                    <img src="assets/wellnest/images/newimg/care giver.jpg" alt="">
                </div><!-- /.service-one__image -->
                <div class="service-one__content">
                    <div class="service-one__icon">
                        <i class="oberlin-icon-disability"></i>
                    </div><!-- /.service-one__icon -->
                    <h3><a href="caregiver-attendant">Assisted Daily Living</a></h3>
                    <p>
                      Compassionate help with activities of daily living for independence & dignity. 
                      Personal grooming like bathing, dressing, laundry, etc.
                    </p>      
                    <a href="caregiver-attendant" class="service-one__link"><i
                            class="far fa-long-arrow-alt-right"></i></a><!-- /.service-one__link -->
                </div><!-- /.service-one__content -->
            </div><!-- /.service-one__single -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-md-6">
            <div class="service-one__single">
                <div class="service-one__image">
                    <img src="assets/wellnest/images/newimg/nursing care service.jpg" alt="">
                </div><!-- /.service-one__image -->
                <div class="service-one__content">
                    <div class="service-one__icon">
                        <i class="oberlin-icon-stethoscope"></i>
                    </div><!-- /.service-one__icon -->
                    <h3><a href="nursing-care">Nursing Care</a></h3>
                    <p>
                      Hospital-level expertise at home: Complex medical needs, wound care, precise meds, vital sign
                      monitoring - for optimal recovery.
                    </p>
                    <a href="nursing-care" class="service-one__link"><i
                            class="far fa-long-arrow-alt-right"></i></a><!-- /.service-one__link -->
                </div><!-- /.service-one__content -->
            </div><!-- /.service-one__single -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-md-6">
            <div class="service-one__single">
                <div class="service-one__image">
                    <img src="assets/wellnest/images/newimg/doctor.jpeg" alt="">
                </div><!-- /.service-one__image -->
                <div class="service-one__content">
                    <div class="service-one__icon">
                        <i class="oberlin-icon-stethoscope"></i>
                    </div><!-- /.service-one__icon -->
                    <h3><a href="doctor-at-home">Doctor at Home</a></h3>
                    <p>
                      CareYogi™ offers 'Doctor at Home' for specialised services for elderly with mobility challenges to visit hospital.
                    </p>
                    <a href="doctor-at-home" class="service-one__link"><i
                            class="far fa-long-arrow-alt-right"></i></a><!-- /.service-one__link -->
                </div><!-- /.service-one__content -->
            </div><!-- /.service-one__single -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-md-6">
            <div class="service-one__single">
                <div class="service-one__image">
                    <img src="assets/wellnest/images/newimg/speech-therapy.jpg" alt="">
                </div><!-- /.service-one__image -->
                <div class="service-one__content">
                    <div class="service-one__icon">
                        <i class="oberlin-icon-discussion"></i>
                    </div><!-- /.service-one__icon -->
                    <h3><a href="speech-therapy">Speech Therapy</a></h3>
                    <p>
                      CareYogi™ has partnered with renowned speech therapists in Hyderabad to offer diagnosis and treatment of speech, language, 
                      swallowing, and communication disorders.
                    </p>
                    <a href="speech-therapy" class="service-one__link"><i
                            class="far fa-long-arrow-alt-right"></i></a><!-- /.service-one__link -->
                </div><!-- /.service-one__content -->
            </div><!-- /.service-one__single -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-md-6">
            <div class="service-one__single">
                <div class="service-one__image">
                    <img src="assets/wellnest/images/newimg/physiotherapy-service.png" alt="">
                </div><!-- /.service-one__image -->
                <div class="service-one__content">
                    <div class="service-one__icon">
                        <i class="oberlin-icon-exercise"></i>
                    </div><!-- /.service-one__icon -->
                    <h3><a href="physiotherapy">Physiotherapy</a></h3>
                    <p>
                      Expert physiotherapists at home who specialize in older people, especially those with falls, stroke, arthritis and frailty.
                    </p>
                    <a href="physiotherapy" class="service-one__link"><i
                            class="far fa-long-arrow-alt-right"></i></a><!-- /.service-one__link -->
                </div><!-- /.service-one__content -->
            </div><!-- /.service-one__single -->
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.service-one -->

  <section class="about-three">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="about-three__content">
            <div class="block-title">
              <p class="has-line">Our Continuum of care</p>
              <!-- /.has-line -->
              <h3>
                CareYogi exists to take parental or patient care stress off your shoulder, and allow you to focus
                on your own life
              </h3>
            </div>
            <!-- /.block-title -->
            <p>
              It is a pleasure to introduce CareYogi. We are an Elder
              Care & out of hospital transitional care super
              specialty, disrupting the way care is perceived. Our
              HTHT (Hi-Tech- Hi Touch) platform enabled by our
              passionate caregivers and unmatched caregiving
              practices speeds patient outcomes & recovery.
            </p>
            <p>
              We are strongly recommended by our partners-Hospitals,
              Clinics and Doctors who lay their trust on us.At The
              CareYogi, we are passionate about delivering the highest
              standard of outcome based care. Be it the finest trained
              care giver bed side attendants or nurses or
              state-of-the-art technology for transparency and
              efficiency.
            </p>
            <p>
              When you are passionate about care giving for the lives
              that have been entrusted to you, nothing is too big or
              small to ignore.
            </p>
            <div class="row">
              <div class="col-xl-6">
                <ul class="blog-details__list list-unstyled">
                  <li>
                    <i class="fa fa-check-circle"></i>
                    Stroke Care
                  </li>
                  <li>
                    <i class="fa fa-check-circle"></i>
                    Feeding Tube Care
                  </li>
                  <li>
                    <i class="fa fa-check-circle"></i>
                    Oncology Care
                  </li>
                  <li>
                    <i class="fa fa-check-circle"></i>
                    Orthopedic Care
                  </li>
                  <li>
                    <i class="fa fa-check-circle"></i>
                    Trachestomy Care
                  </li>
                  <li>
                    <i class="fa fa-check-circle"></i>
                    Trauma Care
                  </li>
                </ul>
                <!-- /.blog-details__list list-unstyled -->
              </div>
              <!-- /.col-md-6 -->
              <div class="col-xl-6">
                <ul class="blog-details__list list-unstyled">
                  <li>
                    <i class="fa fa-check-circle"></i>
                    Spine Care
                  </li>
                  <li>
                    <i class="fa fa-check-circle"></i>
                    Craniotomy Care
                  </li>
                  <li>
                    <i class="fa fa-check-circle"></i>
                    Cardiac Care
                  </li>
                  <li>
                    <i class="fa fa-check-circle"></i>
                    Post Covid-19 Care
                  </li>
                  <li>
                    <i class="fa fa-check-circle"></i>
                    Post-Operative Care
                  </li>
                  <li>
                    <i class="fa fa-check-circle"></i>
                    Parkinson's Care
                  </li>
                </ul>
                <!-- /.blog-details__list list-unstyled -->
              </div>
              <!-- /.col-md-6 -->

            </div>
            <!-- /.row -->
          </div>
          <!-- /.about-three__content -->
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="1500ms">
          <div class="about-three__image">
            <img src="assets/wellnest/images/shapes/about-dot-3-1.png" class="about-dot-3-1" alt="" />

            <!-- /.about-three__image-text -->
            <img src="assets/wellnest/images/newimg/assisted living.jpg" alt="" width="470" height="540" />
          </div>
          <!-- /.about-three__image -->
        </div>
        <!-- /.col-lg-6 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.about-three -->

  <!-- /.funfact-one -->

  <section class="faq-three">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="faq-three__image wow fadeInLeft" data-wow-duration="1500ms">
            <img src="assets/wellnest/images/shapes/faq-2-dot.png" class="faq-three__image-dots" alt="" />
            <img src="assets/wellnest/images/newimg/nursing care.jpg" alt="" width="470" height="600" />
          </div>
          <!-- /.faq-three__image -->
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6">
          <div class="faq-one__block">
            <div class="block-title text-left">
              <p class="has-line">Why Choose Us</p>
              <h3>
                CareYogi: Top Choice for Hassle-Free Home Care
              </h3>
            </div>
            <!-- /.block-title -->

            <p>
              We evolved the concept of World Class services to unburden the patient and their families.
            </p>
            <div class="accrodion-grp" data-grp-name="career-one__accrodion">
              <div class="accrodion active">
                <div class="accrodion-title">
                  <h4>Fast & Easy Booking</h4>
                </div>
                <div class="accrodion-content">
                  <div class="inner">
                    <p>
                      Shedule care in minutes, with minimal stress
                    </p>
                  </div>
                  <!-- /.inner -->
                </div>
              </div>
              <div class="accrodion">
                <div class="accrodion-title">
                  <h4>Top-Tier Caregivers</h4>
                </div>
                <div class="accrodion-content">
                  <div class="inner">
                    <p>
                      Get matched with qualified compassionate caregivers
                    </p>
                  </div>
                  <!-- /.inner -->
                </div>
              </div>
              <div class="accrodion">
                <div class="accrodion-title">
                  <h4>Seamless Transitions</h4>
                </div>
                <div class="accrodion-content">
                  <div class="inner">
                    <p>
                      Experience a smooth start to home care with clear communication.
                    </p>
                  </div>
                  <!-- /.inner -->
                </div>
              </div>
              <div class="accrodion">
                <div class="accrodion-title">
                  <h4>Thorough Background Checks</h4>
                </div>
                <div class="accrodion-content">
                  <div class="inner">
                    <p>
                      Ensure peace of mind with rigorous caregiver screening.
                    </p>
                  </div>
                  <!-- /.inner -->
                </div>
              </div>
              <div class="accrodion">
                <div class="accrodion-title">
                  <h4>Flexible Refunds</h4>
                </div>
                <div class="accrodion-content">
                  <div class="inner">
                    <p>
                      Benefit from hassle-free adjustments to your care plan.
                    </p>
                  </div>
                  <!-- /.inner -->
                </div>
              </div>
            </div>
          </div>
          <!-- /.faq-one__block -->
        </div>
        <!-- /.col-lg-6 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section><!-- /.faq-three -->

  <section class="testimonials-two"
  style="background-image: url(assets/wellnest/images/background/testimonials-1-bg-1-1.jpg);">
  <div class="container">
      <div class="row">
          <div class="col-xl-7 col-lg-8">
              <div class="testimonials-two__content wow fadeInUp" data-wow-duration="1500ms">
                  <div class="block-title">
                      <p class="has-line">05. Testimonials</p><!-- /.has-line -->
                      <h3>What do Our Clients Say <br> About CareYogi?</h3>
                  </div><!-- /.block-title -->
                  <div class="testimonials-two__carousel">
                      <div class="swiper-wrapper">
                          <div class="swiper-slide">
                              <div class="testimonials-two__single">
                                <p>
                                  <b>Great Care Made a Big Difference</b>
                                  Since we started using CareYogi for my mom's care, she's been feeling much better.
                                  Their exceptional Quality Elder Care has greatly improved her well-being. Highly
                                  recommend!.
                                </p>
                                <h3>Nimit Konda</h3>
                                <span>Amberpet</span>
                              </div><!-- /.testimonials-two__single -->
                          </div><!-- /.swiper-slide -->
                          <div class="swiper-slide">
                              <div class="testimonials-two__single">
                                <p>
                                  <b>Awesome Tech Helps Us Stay Calm</b>
                                  CareYogi’s technology lets us know how my dad is doing all the time. It’s comforting to
                                  know that he’s being watched over so carefully.
                                </p>
                                <h3>Chaitali Majumdar</h3>
                                <span>Gurugram</span>
                              </div><!-- /.testimonials-two__single -->
                          </div><!-- /.swiper-slide -->
                          <div class="swiper-slide">
                              <div class="testimonials-two__single">
                                <p>
                                  <b>Kind and Skilled People</b>
                                  Everyone from CareYogi is really good at their job and truly kind. They care a lot about
                                  their clients, which makes us feel very reassured.
                                </p>
                                <h3>Sariq Baddour</h3>
                                <span>Secunderabad</span>
                              </div><!-- /.testimonials-two__single -->
                          </div><!-- /.swiper-slide -->
                      </div><!-- /.swiper-wrapper -->
                  </div><!-- /.testimonials-two__carousel -->
                  <div class="testimonials-two__thumb-carousel-wrap">
                      <div class="testimonials-two__thumb-carousel">
                          <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                  <img src="assets/wellnest/images/resources/testi-3-1.jpg" alt="">
                              </div><!-- /.swiper-slide -->
                              <div class="swiper-slide">
                                  <img src="assets/wellnest/images/resources/testi-3-2.jpg" alt="">
                              </div><!-- /.swiper-slide -->
                              <div class="swiper-slide">
                                  <img src="assets/wellnest/images/resources/testi-3-3.jpg" alt="">
                              </div><!-- /.swiper-slide -->
                          </div><!-- /.swiper-wrapper -->
                      </div><!-- /.testimonials-two__thumb-carousel -->
                  </div><!-- /.testimonials-two__carousel-wrap -->
                  
              </div><!-- /.testimonials-two__content -->
          </div><!-- /.col-lg-7 -->
      </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.testimonials-two -->
{% endblock %}
</body>