{% extends "templates/wellnest_web.html" %}

<title>
    {% block title %}WellNesT - Partners{% endblock %}
</title>    
<body>
{% block page_content %}
<section class="blog-grid">  
  <div class="container" id="agencies">
    <h2>Nursing Agencies - Homecare Partnership</h2>
    <br>
    <p>
      Nursing agencies face the dual challenge of scaling their operations while enhancing the 
      quality of care they provide. Our cutting-edge technology solutions are designed to address 
      these needs by significantly improving service efficiency. With our platform, agencies can 
      seamlessly record patient vitals, ensure medication adherence, monitor caregiver activities 
      digitally, and leverage data visualization for timely interventions. This not only optimizes the 
      duration of care but also promotes transparent services, ultimately boosting business growth. 
    </p>
    <p>
      By integrating our technology, you can not only elevate the quality and extend the duration of 
      your services but also enhance your reputation through positive word-of-mouth. Partnering 
      with us will help you attract more clients and position your agency as a leader in the industry
    </p>
    <p>
      <b>Contact us</b>: <a href="contact-us/new?type=agency">Fill Form</a> 
      &ensp;OR &ensp;<i class="oberlin-icon-email"></i>&ensp;<a href="mailto:info@thewellnest.in">info@thewellnest.in</a>
      &ensp;OR &ensp;<i class="oberlin-icon-phone"></i>&ensp;<a href="tel:+919810918237">+91 9810918237</a>
    </p>
  </div><!-- /.container -->
  <br>
  <br>
  <div class="container" id="hospitals">
    <h2>Developing Successful Hospitals - Homecare Partnership</h2>
    <br>
    <p>
      At WellNesT, we see the need for the hospitals and other healthcare institutions to collaborate and potentially provide integrated solution to delight the customers
      Amongst other things, such a partnership will allow hospitals to:
    </p>
    <ul>
      <li>
        <strong>Reduce</strong> the Average Length of Stay <strong>(ALOS)</strong> in the hospital
      </li>
      <li>
        <strong>Increase average revenue per bed</strong> for hospitals
      </li>
      <li>
        <strong>Extend</strong> the hospitals'<strong>service</strong> delivery into the patient’s house
      </li>
      <li>
        <strong>
          Extend the reach of healthcare
        </strong>
        to a wider population and locations
      </li>
      <li>
        Provide a <strong>solution for underdeveloped healthcare infrastructure</strong>
      </li>
      <li>
        Lower non acute cases admissions that could block limited resource
      </li>
    </ul>
    <p>
      All of the above while ensuring Doctors are able to review patient conditions at all
      times and provide advices for better health outcomes at the right time.
    </p>
    <p>
      <b>Contact us</b>: <a href="contact-us/new?type=hospital">Fill Form</a> 
      &ensp;OR &ensp;<i class="oberlin-icon-email"></i>&ensp;<a href="mailto:info@thewellnest.in">info@thewellnest.in</a>
      &ensp;OR &ensp;<i class="oberlin-icon-phone"></i>&ensp;<a href="tel:+919810918237">+91 9810918237</a>
    </p>
  </div><!-- /.container -->
  <br>
  <br>
  <div class="container" id="doctors">
    <h2>Independent Practicing Doctors</h2>
    <br>
    <p>
      Independent practicing doctors can now find supportive partners in The WellNesT. Reaching 
      homebound patients has always been a challenge, but with our advanced remote monitoring 
      capabilities, this is no longer an issue. The WellNesT offers comprehensive solutions to 
      monitor patient vitals and ensure medication adherence, providing you with real-time health 
      indicators at the click of a link. 
    </p>   
    <p>      
      This innovative approach not only enhances the efficiency of your services but also allows 
      you to maintain a direct line of observation over your patients, ensuring timely interventions 
      during routine care and emergencies. Partner with The WellNesT to stay connected with your 
      patients and elevate the quality of care you provide.
    </p>
    <p>
      <b>Contact us</b>: <a href="contact-us/new?type=doctor">Fill Form</a> 
      &ensp;OR &ensp;<i class="oberlin-icon-email"></i>&ensp;<a href="mailto:info@thewellnest.in">info@thewellnest.in</a>
      &ensp;OR &ensp;<i class="oberlin-icon-phone"></i>&ensp;<a href="tel:+919810918237">+91 9810918237</a>
    </p>
  </div><!-- /.container -->
  <br>
  <br>
  <div class="container" id="startups">
    <h2>Startups</h2>
    <br>
    <p>
      We invite all innovative startups to connect with us and share your ground breaking solutions 
      that can help our customers heal and thrive in the comfort of their homes. If you have a 
      product or service that can enhance home-based care, we want to hear from you. Partner with 
      us to bring your innovations to life and make a meaningful impact in the world of healthcare.    
    </p>
    <p>
      <b>Contact us</b>: <a href="contact-us/new?type=startup">Fill Form</a> 
      &ensp;OR &ensp;<i class="oberlin-icon-email"></i>&ensp;<a href="mailto:info@thewellnest.in">info@thewellnest.in</a>
      &ensp;OR &ensp;<i class="oberlin-icon-phone"></i>&ensp;<a href="tel:+919810918237">+91 9810918237</a>
    </p>
  </div><!-- /.container -->
  <br>
  <br>
  <div class="container" id="real-estate">
    <h2>Real Estate Companies</h2>
    <br>
    <p>
      The post-COVID era has underscored the critical need for accessible healthcare right at 
      home. Prospective homebuyers, whether planning to move immediately or in the future, now 
      prioritize robust healthcare infrastructure as a key aspect of their living environment. The 
      WellNesT can assist in developing and maintaining a comprehensive healthcare ecosystem 
      within your residential projects. 
    </p>
    <p>
      Imagine a community with on-premise doctors, nursing stations, and standby ambulances, all 
      integrated with smart card technology for seamless access. Partnering with us means 
      enhancing your properties with state-of-the-art healthcare amenities, making them more 
      appealing to potential buyers and setting your projects apart in the market
    </p>
    <p>
      <b>Contact us</b>: <a href="contact-us/new?type=real-estate">Fill Form</a> 
      &ensp;OR &ensp;<i class="oberlin-icon-email"></i>&ensp;<a href="mailto:info@thewellnest.in">info@thewellnest.in</a>
      &ensp;OR &ensp;<i class="oberlin-icon-phone"></i>&ensp;<a href="tel:+919810918237">+91 9810918237</a>
    </p>
  </div><!-- /.container -->
  <br>
  <br>
  <div class="container" id="housing-societies">
    <h2>Housing Societies</h2>
    <br>
    <p>
      The COVID-19 pandemic highlighted the critical importance of having immediate access to 
      healthcare, even within our own communities. Many found that even their family doctors 
      were out of reach during the crisis. The WellNesT offers a comprehensive healthcare 
      infrastructure and skilled personnel to meet the medical needs of your residents. Contact us to 
      establish a robust healthcare system right within your housing society, ensuring that quality 
      care is always just a few steps away.
    </p>
    <p>
      <b>Contact us</b>: <a href="contact-us/new?type=housing-society">Fill Form</a> 
      &ensp;OR &ensp;<i class="oberlin-icon-email"></i>&ensp;<a href="mailto:info@thewellnest.in">info@thewellnest.in</a>
      &ensp;OR &ensp;<i class="oberlin-icon-phone"></i>&ensp;<a href="tel:+919810918237">+91 9810918237</a>
    </p>
  </div><!-- /.container -->
  <br>
  <br>
  <div class="container" id="corporates">
    <h2>Corporates</h2>
    <br>
    <p>
      Introducing our Employee Empathy Program (EEP), a specially tailored initiative designed to 
      support employers in addressing the caregiving responsibilities of their employees. By 
      alleviating these challenges, the EEP enhances employee goodwill, boosts retention, and 
      increases productivity. This program is dedicated to helping corporations meet the caregiving 
      needs of employees' elderly family members, especially when they are required to relocate 
      away from their hometowns. Partner with us to provide meaningful support for your 
      workforce and foster a more compassionate workplace environment.
    </p>
    <p>
      <b>Contact us</b>: <a href="contact-us/new?type=corporate">Fill Form</a> 
      &ensp;OR &ensp;<i class="oberlin-icon-email"></i>&ensp;<a href="mailto:info@thewellnest.in">info@thewellnest.in</a>
      &ensp;OR &ensp;<i class="oberlin-icon-phone"></i>&ensp;<a href="tel:+919810918237">+91 9810918237</a>
    </p>
  </div><!-- /.container -->
</section><!-- /.blog-grid -->

{% endblock %}
</body>
