{% extends "templates/wellnest_base.html" %}

{% block page_content %}
<script>
  console.log(document)
</script>
    <section class="contact-one">
      <div class="container">
        <div class="block-title text-center">
          <p>Patient Details</p>
          <!-- <h3>Apply for Oberlin <br> Career</h3> -->
        </div><!-- /.block-title -->
        <form action="assets/wellnest/inc/sendemail.php" class="contact-one__form contact-form-validated">
          <div class="row">
            <div class="col-md-6">
              <input type="text" placeholder="Full Name" name="Full Name">
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
              <input type="text" placeholder="Gender" name="Gender">
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
              <select class="form-select">
                <option selected>Gender</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Other</option>
              </select>
            </div>
            <div class="col-md-6">
              <input type="text" placeholder="Date of Birth" name="Date of Birth">
            </div>
            <div class="col-md-6">
              <input type="text" placeholder="Phone Number" name="Phone Number">
            </div><!-- /.col-md-6 -->
            <div class="col-md-12">
              <input type="text" placeholder="Email ID" name="Email ID">
            </div>

            <div class="col-md-12">
              <textarea name="message" placeholder="Message"></textarea>
            </div><!-- /.col-md-12 -->
            <div class="col-md-12 text-center">
              <button type="submit" class="thm-btn contact-one__btn">Submit Now</button>
              <!-- /.thm-btn contact-one__btn -->
            </div><!-- /.col-md-12 -->
          </div><!-- /.row -->
        </form>
        <div class="result"></div><!-- /.result -->
      </div><!-- /.container -->
    </section><!-- /.contact-one -->
    <!-- /.blog-grid -->
{% endblock%}