@import './assets/Inter/inter.css';
@import 'frappe-ui/src/style.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Native App Feel & PWA Enhancements */
html,
body {
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

/* Remove mobile tap gray highlight overlay */
* {
  -webkit-tap-highlight-color: transparent;
}

/* Prevent accidental text selection on navigation and interactive UI */
button,
nav,
a,
header {
  -webkit-user-select: none;
  user-select: none;
}
