<!DOCTYPE html>
<html lang="{{boot.lang}}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="language" content="English">
	<meta name="title" content="CareYogi - Care Comes Home">
	<meta name="description" content="We are an Elder Care & out of hospital transitional care super specialty, disrupting the way care is perceived. Our HTHT (Hi-Tech- Hi Touch) platform enabled by our passionate caregivers and unmatched caregiving practices speeds patient outcomes & recovery.">
	<meta name="keywords" content="elderly parent and families, 24/7 care, monitoring, home healthcare, nurse, caregiver, general duty attendants, speech therapy, physiotherapy, ayurveda, assisted daily living, telemedicine, health, digital health, elder care, Stroke Care, Feeding Tube Care, Oncology Care, Orthopedic Care, Trachestomy Care, Trauma Care, Spine Care, Craniotomy Care, Cardiac Care, Post Covid-19 Care, Post-Operative Care, Parkinson's Care">
	<meta name="robots" content="index, follow">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="revisit-after" content="30 days">

	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.careyogis.com" />
	<meta property="og:title" content="CareYogi - Care Comes Home">
	<meta property="og:image" content="https://www.careyogis.com/assets/wellnest/images/footer-logo.png">
	<meta property="og:description" content="We are an Elder Care & out of hospital transitional care super specialty, disrupting the way care is perceived. Our HTHT (Hi-Tech- Hi Touch) platform enabled by our passionate caregivers and unmatched caregiving practices speeds patient outcomes & recovery.">

	<title>{% block title %}{{ title }}{% endblock %}</title>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-BE539PYJ7B"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-BE539PYJ7B');
	</script>
 
<!-- Meta Pixel Code -->
<script>
	!function (f, b, e, v, n, t, s) {
		if (f.fbq) return; n = f.fbq = function () {
			n.callMethod ?
			n.callMethod.apply(n, arguments) : n.queue.push(arguments)
		};

		if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';

		n.queue = []; t = b.createElement(e); t.async = !0;

		t.src = v; s = b.getElementsByTagName(e)[0];

		s.parentNode.insertBefore(t, s)
	}(window, document, 'script',

		'https://connect.facebook.net/en_US/fbevents.js');

	fbq('init', '1260302405659007');

	fbq('track', 'PageView');
</script>

<noscript><img height="1" width="1" style="display:none"
		src="https://www.facebook.com/tr?id=1260302405659007&ev=PageView&noscript=1" /></noscript>

<!-- End Meta Pixel Code -->

	{% block favicon %}
		<!-- favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="assets/wellnest/images/favicon/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="assets/wellnest/images/favicon/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="assets/wellnest/images/favicon/favicon-16x16.png" />
		<link rel="manifest" href="assets/wellnest/images/favicon/site.webmanifest" />
	{% endblock %}

	{%- block head_include -%}
	{% include "templates/includes/header.html" %}
	{%- endblock -%}
</head>

<body frappe-session-status="{{ 'logged-in' if frappe.session.user != 'Guest' else 'logged-out'}}" data-path="{{ path | e }}" {%- if template and template.endswith('.md') %} frappe-content-type="markdown" {%- endif %} class="{{ body_class or ''}}">
	<div class="preloader">
		<div class="lds-ripple">
		  <div></div>
		  <div></div>
		</div>
	  </div>
	  <!-- /.preloader -->
	<div class="page-wrapper">	  
		{%- block navbar -%}
		{% include "templates/includes/navbar.html" %}
		{%- endblock -%}

		{% block page_content %}
		Blank - to be overridden
		{% endblock %}

		{%- block footer -%}
		{% include "templates/includes/footer.html" %}
		{%- endblock -%}
		<!-- /.site-footer -->
	</div>
	<!-- /.page-wrapper -->

    <a href="https://wa.me/+916302693084?text=hi" target="_blank" class="whatsapp-contact-btn"><i class="oberlin-icon-whatsapp"></i></a>
    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

	{%- block sidemenu -%}
	{% include "templates/includes/sidemenu.html" %}
	{%- endblock -%}
	  <!-- /.side-menu__block -->

	{% block base_scripts %}
	<!-- template scripts -->
	<script src="assets/wellnest/js/jquery.min.js"></script>
	<script src="assets/wellnest/js/bootstrap.bundle.min.js"></script>
	<script src="assets/wellnest/js/bootstrap-datepicker.min.js"></script>
	<script src="assets/wellnest/js/bootstrap-select.min.js"></script>
	<script src="assets/wellnest/js/isotope.js"></script>
	<script src="assets/wellnest/js/jquery.ajaxchimp.min.js"></script>
	<script src="assets/wellnest/js/jquery.circleType.js"></script>
	<script src="assets/wellnest/js/waypoints.min.js"></script>
	<script src="assets/wellnest/js/jquery.counterup.min.js"></script>
	<script src="assets/wellnest/js/jquery.lettering.min.js"></script>
	<script src="assets/wellnest/js/jquery.magnific-popup.min.js"></script>
	<script src="assets/wellnest/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="assets/wellnest/js/jquery.validate.min.js"></script>
	<script src="assets/wellnest/js/owl.carousel.min.js"></script>
	<script src="assets/wellnest/js/TweenMax.min.js"></script>
	<script src="assets/wellnest/js/wow.min.js"></script>
	<script src="assets/wellnest/js/swiper.min.js"></script>
	<script src="assets/wellnest/js/theme.js"></script>
	<script src="assets/wellnest/js/custom.js"></script>

	<!-- frappe related scripts -->
	<!-- js should be loaded in body! -->
	<script>
		frappe.boot = {{ boot }}
		// for backward compatibility of some libs
		frappe.sys_defaults = frappe.boot.sysdefaults;
	</script>
	{{ include_script('frappe-web.bundle.js') }}

	{% endblock %}

	{%- for link in web_include_js %}
	{{ include_script(link) }}
	{%- endfor -%}

	{%- block script %}
		{% if colocated_js -%}
			<script>{{ colocated_js }}</script>
		{%- endif %}
	{%- endblock %}
	<!-- csrf_token -->
	{%- block body_include %}{{ body_include or "" }}{% endblock -%}
</body>
</html>
