	<!-- Google Fonts preconnect & stylesheet -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+2:400,500,600,700%7CRoboto:300,400,500,700%7CRubik:300,400,500,700&display=swap" />
	<link rel="canonical" href="https://www.careyogis.com/{{ frappe.request.path }}" />

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "CareYogi",
  "url": "https://www.careyogis.com/",
  "sameAs": [
    "https://www.facebook.com/profile.php?id=61560339830711",
    "https://www.linkedin.com/company/wellnesthomecare/"
  ]
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "CareYogi",
  "url": "https://www.careyogis.com/"
}
</script>

	<!-- Bundled Website Stylesheet -->
	<link rel="stylesheet" href="/assets/wellnest/css/wellnest-web.min.css" />
	  