<nav class="main-nav-one main-nav-one__inner-page stricky">
  <div class="container">
    <div class="inner-container">
      <div class="logo-box">
        <a href="index">
          <img src="assets/wellnest/images/logo-01.png" alt="" width="219" />
        </a>
      </div>
      <div class="main-nav__main-navigation">
        <ul class="main-nav__navigation-box" style="min-width: 665px">
          <li><a href="index">Home</a></li>
          <li class="dropdown active">
            <a href="#">Care Services</a>
            <ul style="width: 260px">
              <li>
                <a href="attendant-care">Attendant Care</a>
              </li>
              <li><a href="basic-nursing-care">Basic Nursing Care</a></li>
              <li>
                <a href="physiotherapy-at-home">Physiotherapy at Home</a>
              </li>
              <li>
                <a href="audio-and-speech-therapy">Audio & Speech Therapy</a>
              </li>
              <li>
                <a href="critical-care-at-home">Critical Care at Home</a>
              </li>
              <li><a href="palliative-care">Palliative Care</a></li>
              <li><a href="hospice-care">Hospice Care</a></li>
              <li><a href="dementia-care">Dementia Care</a></li>
              <li>
                <a href="emergency-alert-response"
                  >Emergency Alert & Response</a
                >
              </li>
            </ul>
          </li>
          <li><a href="about">About us</a></li>
          <li><a href="#contact-section">Contact us</a></li>
          <li><a href="faq">Faq</a></li>
          <li><a href="partner-with-us">Partners</a></li>
          <li><a href="blog">Blogs</a></li>
          <li><a href="e-choupal">E-Choupal</a></li>
        </ul>
      </div>
      <div class="main-nav__right img-fluid">
        <a href="#" class="side-menu__toggler"><i class="fa fa-bars"></i></a>
        <a href="#" class="main-nav-one__cta">
          <i class="oberlin-icon-whatsapp"></i>
          <span>WhatsApp 'Hi'</span>
          <b>6302693084</b>
        </a>
      </div>
    </div>
  </div>
</nav>
