<section class="topbar-one fixed-top">
  <div class="container">
        <div class="topbar-one__left">
          <a href="/elder-assist-program" class="animated pulse infinite">
            <span><i class="far fa-megaphone"></i></span>
            <span>Announcing: Elder Assist Program - Emergency Alert & Ambulance in 20 mins</span>
          </a>
        </div><!-- /.topbar-one__left -->
      </div><!-- /.container -->
</section><!-- /.topbar-one -->
<nav class="main-nav-one main-nav-one__inner-page stricky">
  <div class="container">
    <div class="inner-container">
      <div class="logo-box">
        <a href="/">
          <img src="/assets/wellnest/images/logo-01.png" alt="" width="219" />
        </a>
      </div>
      <div class="main-nav__main-navigation">
        <ul class="main-nav__navigation-box">
          <li><a href="/">Home</a></li>
          <li class="dropdown">
            <a href="/#services-section">Services</a>
            <ul style="width: 260px">
              <li>
                <a href="/caregiver-attendant">Attendant Care</a>
              </li>
              <li>
                <a href="/nursing-care">Basic Nursing Care</a>
              </li>
              <li>
                <a href="/doctor-at-home">Critical Care at Home</a>
              </li>
              <li>
                <a href="/speech-therapy">Audio & Speech Therapy</a>
              </li>
              <li>
                <a href="/physiotherapy">Physiotherapy at Home</a>
              </li>
              <li>
                <a href="/hospice-care">Hospice Care</a>
              </li>
              <li>
                <a href="/palliative-care">Palliative Care</a>
              </li>
              <li>
                <a href="/dementia-care">Dementia Care</a>
              </li>
              <li>
                <a href="/emergency-alert-response"
                  >Emergency Alert & Response</a
                >
              </li>
            </ul>
          </li>
          <li><a href="/about">About</a></li>
          <li><a href="/#contact-section">Contact Us</a></li>
          <li class="dropdown">
            <a href="#">Network</a>
            <ul>
              <li>
                <a href="/practitioners">Doctors</a>
              </li>
              <li>
                <a href="/partner-with-us">Partner With Us</a>
              </li>
            </ul>
          </li>
          <li class="dropdown active">
            <a href="#">Resources</a>
            <ul>
              <li>
                <a href="/faq">FAQs</a>
              </li>
              <li>
                <a href="/blog">Blogs</a>
              </li>
              <li>
                <a href="/e-choupal">E-Choupal</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="main-nav__right img-fluid">
        <a href="#" class="side-menu__toggler"><i class="fa fa-bars"></i></a>
        <a href="#footer-section" class="main-nav-one__cta">
          <i class="fa fa-download" alt="Get CareYogi App"></i>
          <b>CareYogi</b>
        </a>
      </div>
    </div>
  </div>
</nav>
